*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


.App{
  display:grid;
  place-content: center;
  height: 100vh;
  gap:1rem;
}
.letters{
  display: grid;
grid-auto-flow: column;
  grid-gap: 10px;
  place-content: space-between;
 
}
.info{
  display: grid;
  grid-auto-flow: column;
  grid-gap: 10px;
  place-content: center;

}
.info button{
  background-color: #fff;
  border: 1px solid #000;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.info h3{
  place-self: center;
}